
.dashboard-card{
    position: relative;
}
h2{
    font-family: Garamond, serif;
    font-size: 230%;
}
.overview{
    width:48%;
    border:1px solid gray;
    height: 400px;
    box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.384),3px 0px 4px rgba(128, 128, 128, 0.39),0px -3px 4px rgba(128, 128, 128, 0.384),-3px 0px 4px rgba(128, 128, 128, 0.39);
    border-radius: 10px;
    background-color: white;
    
}
.chart{
    position: absolute;
    width:48%;
    padding:10px 0 0 -10px;
    right:0;
    top:0;
    height: 400px;
    box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.384),3px 0px 4px rgba(128, 128, 128, 0.39),0px -3px 4px rgba(128, 128, 128, 0.384),-3px 0px 4px rgba(128, 128, 128, 0.39);
    border:1px solid gray;
    border-radius: 10px;
    background-color: white;
}
.table{
    position: absolute;
    width:48%;
    right:0;
    top:0;
    height: 400px;
    box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.384),3px 0px 4px rgba(128, 128, 128, 0.39),0px -3px 4px rgba(128, 128, 128, 0.384),-3px 0px 4px rgba(128, 128, 128, 0.39);
    border:1px solid gray;
    border-radius: 10px;
    background-color: white;
}
.category-table{
    border:1px solid rgb(206, 206, 206);
    border-radius: 10px;
}
.chartTable-select{
    position:absolute;
    right:0;
    top:0px;
    display: inline;
    margin:10px 10px;
    z-index: 1;
}

.chartTable-select select{
    border-radius: 5px;
    padding:2px 5px;
    box-shadow: 2px 2px 4px gray;
    /* width:70px; */
}

.budget-overview{
    position: relative;
    margin:10px 0 0 5px
}
.budget-overview b{
    margin:30px 0 0 20px;
}
.budget-overview .progress{
    padding:50px 0 0 30px;
    position: absolute;
    font-size: 90%;
}
.progress span{
    font-size: 76%;
}
.overview-data{
    position:absolute;
    margin:11% 0 0 60% ;
    font-size: 130%;
}
.overview-data .heading{
    font-weight: bold;
}
.expenses{
    position: relative;
    margin-top: 30px;
}

.expenses input{
    position: absolute;
    right:0;
    padding: 10px;
    width:18%;
    border-radius: 5px;
    color:gray;
    box-shadow: 2px 2px 4px gray;
    border:1px solid rgb(206, 206, 206);
}
.expenses small{
    color:red;
}
.expenses h2{
    font-family: 'Courier New', monospace;
    font-size: 160%;
}

.expenses select{
    border-radius: 5px;
    padding:5px 10px;
    box-shadow: 2px 2px 4px gray;
    margin-bottom: 10px;
}
.expenses-table{
    border:1px solid rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
}
.ant-table thead{
    font-size: 110%;
}
.ant-table {
    background-color: rgb(28, 58, 85);
}
.ant-table,th{
    border:1px solid rgba(128, 128, 128, 0.5);
}
.ant-table,td{
    border:1px solid rgba(128, 128, 128, 0.5);
}
